<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link href="/lan/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
	<link href="/slick/slick.css" rel="stylesheet" /> <!-- https://kenwheeler.github.io/slick/ -->
	<link href="/slick/slick-theme.css" rel="stylesheet" />
	<link href="/lan/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com -->
	<link href="/lan/css/templatemo-new-vision.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">

</head>
<style>
	a {
		color: black;
	}
</style>

<body>
	<!-- Nav -->
	<nav id="nav">
		<ul><a href="/" id="logo">ACT JOURNAL</a>
			<li class="current"><a href="/">首頁</a></li>
			<li>
				<a href="material">素材庫</a>
				<ul>
					<li><a href="templets">模板</a></li>
					
					<li><a href="material">素材</a></li>
				</ul>
			</li>
			<li>
				<a href="following">追蹤名單</a>
				<ul>
					<li><a href="following">追蹤中</a></li>
					<li><a href="follower">粉絲</a></li>
				</ul>
			</li>
			<li>
				<a href="profile">使用者</a>
				<ul>
					<li>
						<a href="profile">查看個人檔案</a>
						<ul>
							<li><a href="profileEdit">編輯簡介</a></li>
							<li><a href="privateSet">隱私設定</a></li>
						</ul>
					</li>
					<li><a href="/sign_in">登入</a></li>
					<li><a href="/sign_out">登出</a></li>
				</ul>
			</li>
			<li>
				<a href="bookcase">書櫃</a>
				<ul>
					<li><a href="bookcase">個人書櫃</a></li>
					<li><a href="newbookshelf">新增書櫃</a></li>
					<li><a href="newnote">新增手帳</a></li>
				</ul>
			</li>
			<li><a href="/sign_up" class="button">註冊</a></li>
		</ul>
	</nav>
	
	<div class="container">
		<br>
		<div class="bookcase-lable">
			<h2>預設書櫃</h2>
		</div>

		<div class="grid tm-carousel">
			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-01.jpg" alt="Featured Item">
					<figcaption>
						<h4><i>貓</i></h4>
					</figcaption>
				</figure>
			</a>

			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-02.jpg" alt="Featured Item">
					<figcaption>
						<h4><i><span></span><br><i class="fas fa-hashtag"></i>翠鳥</i></h4>
					</figcaption>
				</figure>
			</a>

			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-04.jpg" alt="Featured Item">
					<figcaption>
						<h4><i><span>秋天</span><br>
								<i class="fas fa-hashtag"></i>落雨松</i></h4>
					</figcaption>
				</figure>
			</a>

			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-05.jpg" alt="Featured Item">
					<figcaption>
						<h4><i><span>小鹿</span><br>
								<i class="fas fa-hashtag"></i>斑比</i></h4>
					</figcaption>
				</figure>
			</a>

			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-06.jpg" alt="Featured Item">
					<figcaption>
						<h4><i><span>荷蘭</span><br>
								<i class="fas fa-hashtag"></i>鬱金香</i></h4>
					</figcaption>
				</figure>
			</a>

			<a href="/myJournals">
				<figure class="effect-honey">
					<img src="/img/gallery-item-06.jpg" alt="Featured Item">
					<figcaption>
						<h4><i><span>手帳名稱</span><br>
								<i class="fas fa-hashtag"></i>標籤</i></h4>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>

	<a href="/newnote">
		<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 1.5em;">
				<i class="fas fa-plus-circle">
					<h4>新增手帳</h4>
				</i></button></div>
	</a><br>
	<h2 class="major"></h2>
	<div class="container">
		<div class="bookcase-lable">
			<h2>書櫃1</h2>
		</div>
		
		<div class="grid tm-carousel">
			<a href="/myJournals">
			<figure class="effect-honey">
				<img src="/img/gallery-item-02.jpg" alt="Featured Item">
				<figcaption>
					<h4><i>
							<i class="fas fa-hashtag"></i>翠鳥</i></h4>
				</figcaption>
			</figure></a>

			<a href="/myJournals">
			<figure class="effect-honey">
				<img src="/img/gallery-item-01.jpg" alt="Featured Item">
				<figcaption>
					<h4><i>貓</i></h4>
				</figcaption>
			</figure></a>
		</div>
	</div>

	<a href="/newnote">
		<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 1.5em;">
				<i class="fas fa-plus-circle">
					<h4>新增手帳</h4>
				</i></button></div>
	</a>
	<br>
	<h2 class="major"></h2>
	<a href="newbookshelf">
		<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 2em;">
				<i class="fas fa-plus-circle">
					<h4>新增書櫃</h4>
				</i></button></div>
	</a>
	<br>
	<!-- Copyright -->
	<div id="copyright">
		<ul class="menu">
			<li>Design</li>
			<li>&copy;
				<a href="index.ejs">NTUB110508</a>
			</li>
		</ul>
	</div>
	</div>

	<script src="/lan/js/jquery-3.4.1.min.js"></script>
	<script src="/slick/slick.min.js"></script>
	<script src="/lan/js/templatemo-script.js"></script>

	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>