<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Nav -->
		<nav id="nav">
			<ul><a href="/" id="logo">ACT JOURNAL</a>

				<!-- <li class="current"><a href="/">首頁</a></li> -->
				<!-- <li>
					<a href="#">會員管理</a>
					<ul>
						<li><a href="member_query_form">查詢會員</a></li>
						<li><a href="#">刪除會員</a></li>
						 <li><a href="drawingboard">檢舉紀錄</a></li> -->
						<!-- <a href="material">停權會員</a> -->
						<!-- <li><a href="drawingboard">新增停權會員</a></li> -->
						<!-- <li><a href="drawingboard">刪除停權會員</a></li> -->
						<!-- <li><a href="drawingboard">查詢停權會員</a></li> -->
						<!-- <a href="material">檢舉紀錄</a> -->
						<!-- <li><a href="drawingboard">修改紀錄</a></li> -->
						<!-- <li><a href="drawingboard">刪除紀錄</a></li> -->
						<!-- <li><a href="drawingboard">查詢紀錄</a></li> -->
					<!-- </ul>
				</li>
				<li>
					<a href="#">手帳管理</a>
					<ul>
						<li><a href="searchjournal">查詢手帳</a></li>
						<li><a href="#">刪除手帳</a></li>
					    <li><a href="drawingboard">使用權限</a></li> 
					</ul>-->
				<!--</li>
				 <li>
					<a href="#">素材管理</a>
					<ul>
						<li><a href="#">新增素材</a></li>
						
						<li><a href="#">查詢素材</a></li>
						<li><a href="#">刪除素材</a></li>
					</ul>
				</li>
				<li>
					<a href="#">書櫃</a>
					<ul>
						<li><a href="bookshelf_query_form">書櫃查詢</a></li>						
					</ul>
				</li>  -->
				<li><a href="/man_login_form">登入</a></li>
				<!-- <li><a href="/sign_out">登出</a></li> -->
				
		</nav>
		<!-- Main -->
		<br>
		<div></div>
		<br>
		<section id="main">
			<div class="container">
				<!-- Features -->
				
                <div class="section-heading">
                    <h2>密碼錯誤，請重新輸入</h2>
                </div>

                
				<!-- Copyright -->
				<div id="copyright">
					<ul class="menu">
						<li>Design</li>
						<li>&copy;
							NTUB110508
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<!--navbar外掛-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>


</body>

</html>