<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flexslider.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">
	<link rel="stylesheet" href="/css/material.css">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Nav -->
		<nav id="nav">
			<ul><a href="/" id="logo">ACT JOURNAL</a>
				<li class="current"><a href="/">首頁</a></li>
				<li>
					<a href="material">素材庫</a>
					<ul>
						<li><a href="templets">模板</a></li>
						 
						<li><a href="material">素材</a></li>
					</ul>
				</li>
				<li>
					<a href="following">追蹤名單</a>
					<ul>
						<li><a href="following">追蹤中</a></li>
						<li><a href="follower">粉絲</a></li>
					</ul>
				</li>
				<li>
					<a href="profile">使用者</a>
					<ul>
						<li>
							<a href="profile">查看個人檔案</a>
							<ul>
								<li><a href="profileEdit">編輯簡介</a></li>
								<li><a href="privateSet">隱私設定</a></li>
							</ul>
						</li>
						<li><a href="/sign_in">登入</a></li>
						<li><a href="/sign_out">登出</a></li>
					</ul>
				</li>
				<li>
					<a href="bookcase">書櫃</a>
					<ul>
						<li><a href="bookcase">個人書櫃</a></li>
						<li><a href="newbookself">新增書櫃</a></li>
						<li><a href="newnote">新增手帳</a></li>
					</ul>
				</li>
				<li><a href="/sign_up" class="button">註冊</a></li>
			</ul>
		</nav>
		
		<div id="main" class="m">
			<h2 id="p" class="major"><span>逛逛素材</span></h2>
			<form id="privateSet">
				
			</form>
			</div>
			
				
		<!-- Main -->
		<section id="main">

						<section class="box features">
							
							<div class="row">
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-03.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>路 終點<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>

								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-04.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>酷熱沙漠<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-05.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>鐵路<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-06.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>森林<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>
							</div>
						</section>
						<section class="box features">
							
							<div class="row">
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-03.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>路 終點<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>

								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-04.jpg"
												alt="" /></a>
										
												<i class="fas fa-hashtag"></i>酷熱沙漠<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-05.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>鐵路<br>
										<div class="col-12">
											
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-06.jpg"
												alt="" /></a>
												<i class="fas fa-hashtag"></i>森林<br>		
										<div class="col-12">
										
										</div>
									</section>

								</div>
							</div>
						</section>

						<!-- Footer 可刪 -->
						<footer id="footer">
							<div class="container">
								<div class="row gtr-200">
									<div class="col-12">

										<!-- Contact -->
										<section>
											<h2 class="major"><span>Get in touch</span></h2>
											<ul class="contact">
												<li><a class="icon brands fa-twitter" href="#"><span
															class="label">Twitter</span></a>
												</li>
												<li><a class="icon brands fa-instagram" href="#"><span
															class="label">Instagram</span></a></li>
											</ul>
										</section>

									</div>
								</div>

								<!-- Copyright -->
								<div id="copyright">
									<ul class="menu">
										<li>Design</li>
										<li>&copy;
											<a href="index.ejs">NTUB110508</a>
										</li>
									</ul>
								</div>
							</div>
						</footer>

					</div>

					<!--navbar外掛-->
					
					<script src="/js/jquery.min.js"></script>
					<script src="/js/jquery.dropotron.min.js"></script>
					<script src="/js/util.js"></script>
					<script src="/js/jquery.scrolly.min.js"></script>
					<script src="/js/breakpoints.min.js"></script>
					<script src="/js/main.js"></script>
					<!-- banner 外掛 -->
					<script src="/js/jquery-1.11.2.min.js"></script>
					<script src="/js/jquery.flexslider-min.js"></script>
					<script src="/js/templatemo-script.js"></script>
					<script src="/js/moment.js"></script>
					<script src="/js/bootstrap.min.js"></script>

					<script>
						// HTML document is loaded. DOM is ready.
						$(function () {

							$('#hotelCarTabs a').click(function (e) {
								e.preventDefault()
								$(this).tab('show')
							})

							$('.date').datetimepicker({
								format: 'MM/DD/YYYY'
							});
							$('.date-time').datetimepicker();

							// https://css-tricks.com/snippets/jquery/smooth-scrolling/
							$('a[href*=#]:not([href=#])').click(function () {
								if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
									var target = $(this.hash);
									target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
									if (target.length) {
										$('html,body').animate({
											scrollTop: target.offset().top
										}, 1000);
										return false;
									}
								}
							});
						});

						// Load Flexslider when everything is loaded.
						$(window).load(function () {
							// Vimeo API nonsense


							//	For images only
							$('.flexslider').flexslider({
								controlNav: false
							});


						});
					</script>

</body>

</html>