<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flexslider.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">

</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Nav -->
		<nav id="nav">
			<ul><a href="/" id="logo">ACT JOURNAL</a>

				<li class="current"><a href="/mindex">首頁</a></li>
				<li>
					<a href="#">管理員</a>
					<ul>
						<li><a href="/man/add/form">新增管理員</a></li>
						<li><a href="/manager/remove/form">刪除管理員</a></li>

					</ul>
				</li>
				<li>
					<a href="#">會員管理</a>
					<ul>
						<li><a href="/member/query/form">查詢會員</a></li>
						<li><a href="/member/remove/form">刪除會員</a></li>

					</ul>
				</li>
				<li>
					<a href="#">手帳管理</a>
					<ul>
						<li><a href="/journal/query/form">查詢手帳</a></li>
						<li><a href="/journal/remove/form">刪除手帳</a></li>

					</ul>
				</li>
				<li>
					<a href="#">素材管理</a>
					<ul>
						<li><a href="/material/add/form">新增素材</a></li>
						<li><a href="/material/query/form">查詢素材</a></li>
						<li><a href="/material/remove/form">刪除素材</a></li>
					</ul>
				</li>
				<li>
					<a href="#">書櫃</a>
					<ul>
						<li><a href="/bookshelf/query/form">書櫃查詢</a></li>
						<li><a href="/bookshelf/remove/form">書櫃刪除</a></li>
					</ul>
				</li>
				<!-- <li><a href="/sign_in">登入</a></li> -->
				<li><a href="/man/logout">登出</a></li>

		</nav>
		<!-- Banner -->
		<div class="tm-banner-inner">
			<br>
			<h1 class="tm-banner-title">失敗</h1>
		</div>
		<img src="/img/banner-3.jpg" alt="Image" />

		<section class="tm-banner"></section>
		<!-- Copyright -->
		<div id="copyright">
			<ul class="menu">
				<li>Design</li>
				<li>&copy;
					NTUB110508
				</li>
			</ul>
		</div>
	</div>
	</section>
	</div>
	<!--navbar外掛-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>