<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link href="/lan/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com -->
	<link href="/lan/css/templatemo-new-vision.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">

</head>

<body class="homepage is-preload">
	<!-- Nav -->
	<nav id="nav">
		<ul><a href="/" id="logo">ACT JOURNAL</a>
			<li class="current"><a href="/">首頁</a></li>
			<li>
				<a href="material">素材庫</a>
				<ul>
					<li><a href="templets">模板</a></li>
					
					<li><a href="material">素材</a></li>
				</ul>
			</li>
			<li>
				<a href="following">追蹤名單</a>
				<ul>
					<li><a href="following">追蹤中</a></li>
					<li><a href="follower">粉絲</a></li>
				</ul>
			</li>
			<li>
				<a href="profile">使用者</a>
				<ul>
					<li>
						<a href="profile">查看個人檔案</a>
						<ul>
							<li><a href="profileEdit">編輯簡介</a></li>
							<li><a href="privateSet">隱私設定</a></li>
						</ul>
					</li>
					<li><a href="/sign_in">登入</a></li>
					<li><a href="/sign_out">登出</a></li>
				</ul>
			</li>
			<li>
				<a href="bookcase">書櫃</a>
				<ul>
					<li><a href="bookcase">個人書櫃</a></li>
					<li><a href="newbookshelf">新增書櫃</a></li>
					<li><a href="newnote">新增手帳</a></li>
				</ul>
			</li>
			<li><a href="/sign_up" class="button">註冊</a></li>
		</ul>
	</nav>
	<div class="container">
		<br><br>
		<div class="bookcase-lable">
				<h2>鳥</h2>
			</div>
		<div><select class="form-select">
				<option selected>默認</option>
				<option value="1">日期</option>
				<option value="2">書櫃</option>
			</select></div>
		<br>
		<table>
			<thead>
				<tr>
					<th>頁碼</th>
					<th>日期</th>
					<th>書櫃</th>
					<th>標籤</th>
				</tr>
				<thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>110.3.27</td>
						<td>預設書櫃</td>
						<td><i class="fas fa-hashtag">翠鳥</i></td>
					</tr>
					<tr>
						<td>2</td>
						<td>110.4.1</td>
						<td>預設書櫃</td>
						<td><i class="fas fa-hashtag">玄鳳鸚鵡</i></td>
					</tr>
					<tr>
						<td>3</td>
						<td>110.4.4</td>
						<td>預設書櫃</td>
						<td><i class="fas fa-hashtag">貓頭鷹</i></td>
					</tr>
				</tbody>
		</table>
		<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 1.5em;"><i
					class="fas fa-plus-circle">
					<h4>新增頁面</h4>
				</i></button></div><br>
	</div>


	<script src="/lan/js/jquery-3.4.1.min.js"></script>
	<script src="/slick/slick.min.js"></script>
	<script src="/lan/js/templatemo-script.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>